#carouselExampleCaptions .carousel-item {
  height: 700px; /* Set the height you want here */
  border-radius: 5%;
  margin-right: 15px;
}

#carouselExampleCaptions .carousel-item img {
  height: 100%;
  width: 55%;
  border-radius: 7vh;
  padding: 5vh;
  display: none;
  z-index: 1;
  left: 5;
}

hr {
  display: block;
  height: 20px;
  border: 0;
  border-top: solid rgb(255, 255, 255);
  margin: 1em 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  justify-content: center;
  height: 70vh;
  justify-content: center;
  gap: 20px;
  margin: 50px;
  padding: 0;

  .img-fluid {
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px; 
    border-radius: 5%;
  }

  .p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
}

.diseñador {
  .row {
    position: relative;
    background-size: cover;
    display: flex;

    .img-fluid {
      height: 300px; /* Set the height you want here */
    }
  }
}

